body {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  font-family: 'Nanum Gothic', sans-serif;
}

.container {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.25em;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.25em;
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-right: 1%;
}

.inlined input {
  width: 95%;
}

.button-container {
  text-align: center;
}

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}
